@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;

  padding: 0px;
}
a {
  text-decoration: none;
  gap: 20px;
}
.main-main {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  margin-top: 20px;
  margin-bottom: 30px;
}

.button {
  width: 182px;
  height: 50px;
  top: 99px;
  left: 1206px;
  border-radius: 5.95px;
  background: #75bf7a;
  color: #ffffff;

  border: #75bf7a;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 600;
  font-size: 22px;
  font-family: Gilroy;
  font-weight: 600;

  font-size: 22px;
}
.links {
  display: flex;
  gap: 10px;
  align-items: center;
}
.main-section {
  display: flex;
}
.section-one {
  width: 50%;
  display: flex;
  gap: 35px;
  flex-direction: column;
}
.section-two {
  width: 50%;
}
.for-gap p {
  width: 580px;
}
.for-gap {
  display: flex;
  flex-direction: column;
  gap: 61px;
}
.button7 {
  width: 260px;
  height: 67px;
  background-color: black;
  color: #ffffff;
  font-weight: 800px;
  font-size: 22px;
  align-items: center;
  display: flex;
  border-radius: 5px;
}
/* .button7 p {
  width: 141px;
  font-family: Gilroy;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 24.6px;
  color: #ffffff;
} */
.section-one h2 {
  font-weight: 800;
  font-size: 55.5px;
}
.section-one p {
  color: #9e9da2;
  font-weight: 400;
  font-size: 24px;
}
.button-ki-div {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-around;
}
.green-corner {
  margin-top: 80.35px;
  margin-bottom: 30px;
  background: #75bf7a;
  width: 1, 280px;
  height: 90px;
  color: #ffffff;
  align-items: center;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
.green-corner > div {
  width: 499px;
  height: 67px;
  display: flex;
  text-align: center;
  align-items: center;
}
.img3 {
  width: 45px;
  height: 39.8863639831543px;
}
.img4 {
  width: 34.16666793823242;
  height: 34.1666679382324;
  top: 3.42px;
  left: 3.42px;
}
.sumit {
  align-items: center;
  width: 499px;
  height: 35px;
}
span {
  color: #75bf7a;
}
.section-para h2 {
  width: 403px;
  font-weight: 800;
  margin-top: 50px;
  font-size: 38.3px;
}
.section-para p {
  color: #9e9da2;
  width: 620px;
}
.section-para {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.circle p {
  background-color: #75bf7a;
  width: 400px;
  height: 400px;
  border-radius: 500px;
  margin-top: 143px;
}

.sideright- h2 {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 22px;

  line-height: 50.35px;
}
.sideright- p {
  font-family: Gilroy;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  color: #9e9da2;
}
.mobile3 {
  height: 600px;
  margin-left: 50px;
  /* imge mobile */
}
.left-side {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  height: 0%;
  margin-top: 143px;
  flex-direction: column;
}
.contant {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* rigt side margin */
.sideright- {
  margin-top: 143px;
}
/* left side design */
.left-side p {
  font-family: Gilroy;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  color: #9e9da2;
}
.left-side h2 {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 22px;

  line-height: 50.35px;
}
.sideright- {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}
.left-side {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 15px;
}
.mobile1 {
  width: 290px;
  font-weight: 500;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.last-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 290px;
  gap: 45px;
}
.boxes div {
  width: 1060px;
  height: 304px;
  border-radius: 10px;
}

.benefits h1 {
  font-weight: 600px;
  font-style: Semibold;
  font-size: 33.94px;
}
.benefits span {
  font-family: Gilroy;
  font-weight: 500;
  font-style: Medium;
  font-size: 88px;
}
.benefits img {
  width: 300px;
}
.benefits div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 350px;
}
.benefits p {
  font-family: Gilroy;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  color: #9e9da2;
}
.benefits {
  display: flex;
  gap: 31px;
  justify-content: space-around;
  border: 2px solid #75bf7a;
}
.boxes {
  margin-top: 50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
#special {
  display: flex;
  align-self: center;
}
.my-button {
  width: 190px;
  height: 50px;
  background-color: black;
  color: #ffffff;
  font-weight: 800px;
  font-size: 16.89px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;
}
.my-button img {
  width: 30.9px;
  height: 27.38px;
}
.my-button p {
  font-family: Gilroy;
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 16.89px;
  width: 97px;
}
.footer-button {
  display: flex;
  flex-direction: row;
  gap: 41px;
  justify-content: space-around;
}

footer {
  height: 300px;
  display: flex;
}

footer > div {
  width: 25%;
  justify-content: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer > p {
  color: #75bf7a;
  text-align: center;
}
